@import "../../common/common";

@import "results/carousel";
@import "./results/headlines.scss";
@import "./results/wiki-box.scss";

@import "./results/news/news.scss";

body {
    a:link {
        // headline
        color: $blue;
    }

    a:visited {
        color: $yellow;
    }

    cite {
        // subtitle
        color: $green;
    }

    ._Fmb {
        // arrow icon to open dropdown
        background: $black;

        &:hover {
            background: $green;
        }

        &.selected {
            background: $green;
        }
    }

    .action-menu-item,
    .action-menu-item:hover,
    .action-menu-item.selected {
        background-color: $dark;

        .f a {
            color: $white;
        }
    }


    .f a:link {
        // within arrow icon
        color: $black;
    }

    .ab_dropdown {
        background: $dark;
        color: $white;
    }

    .ab_button {
        @include button();
    }

    // subtext link bar
    a.fl:link {
        color: $green;
    }

    .s {
        // text
        color: $white;
    }

    .s .st em {
        color: $green;
    }
}