@import "../../common/common.scss";

body {
    input#lst-ib,
    .sbib_a,
    .sbibod {
        // search field
        @include input();
    }

    .gsc_b {
        // spell check
        background-image: none;
        border-bottom: 0.2em solid $red;
    }

    .sbsb_d {
        // suggestion hover
        background: $blue;
        color: $white;
    }

    #sbsb_f {
        color: $white;
    }
}