// google green
$green: #3cba54;


// google yellow
$yellow: #f4c20d;

// google red
$red: #db3236;

// google blue
$blue: #4885ed;

// others
$black: #222222;
$dark: #292929;
$white: silver;
$bright-white: white;