@import "./color";

@mixin button() {
    border-color: $black;
    background: $dark;
    color: $blue;

    &:hover,
    &:active {
        outline: 0.1em solid $black;
        border-color: $dark;
        background: $black;
        color: $blue;
    }
}

@mixin input() {
    background: $dark-white;
    color: $white;
}

@mixin separator($color: $black) {
    border-color: $color;
}